.sectionNews {
  position: relative;
  height: 100%;
  width: 100%;
  padding: clamp(40px, 5vh, 5vh) 0;
}
.rowNews {
  display: flex;
  flex-direction: column;
  row-gap: clamp(12px, 1vh, 1vh);
  margin-bottom: clamp(20px, 2vh, 2vh);
}
.rowNews h4 {
  font-size: clamp(15px, 1vw, 1vw);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--color-orange);
}
.rowNews h2 {
  font-size: clamp(22px, 2.5vw, 2.5vw);
  font-weight: normal;
  color: var(--color-dark-blue);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(10px, 2vw, 2vw);
  margin-top: 2vh;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: clamp(12px, 3vh, 3vh);
}
.dateBarNews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: clamp(20px, 1.2vw, 1.2vw);
  font-weight: normal;
  color: var(--color-dark-blue);
}

.card p {
  font-size: clamp(15px, 1vw, 1vw);
  color: var(--color-black);
  font-weight: normal;
}

.card button {
  font-size: clamp(12px, 1vw, 1vw);
  text-transform: uppercase;
  cursor: pointer;
  padding: clamp(10px, 1vw, 1vw) clamp(20px, 2vw, 2vw);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: solid 1px var(--color-dark-blue);
  background: transparent;
  color: var(--color-dark-blue);
}

.card button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--color-dark-blue);
  z-index: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.card button:hover::before {
  opacity: 1;
  height: 100%;
}
.card button:hover span {
  color: var(--color-white);
}

.card button span {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}
.card button span svg {
  margin-left: 5px;
}

/* responsive-css-starts-here */
@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 70px;
  }
  .sectionNews {
    height: 100% !important;
  }
}
